/* Keep it syncronized with http://afoundations-revmap.referata.com/w/index.php?title=MediaWiki:Monobook.css
If you want to use different styles, add images into this folder and edit image and color metadata by editing the variables below or use our Theme Designer that Requires Explore Scratch Mod */
/* Revmaped Monobook Skin - Named Besto */

/* Variables 

NOTE: Color for disabled buttons is ineigable for customizing. Use MediaWiki:Mpisto.css or User:@/mpisto.css where @ is your account name
More things will soon be changable with theme designer

*/

:root {
--background-image:url("headbg.jpg") no-repeat;
--background-color:#e995ca;
--background-size:2200px 1000px;
--link-color:#18bbc5;
--content-bg:#ffffff;
--content-color:#000000;
--content-border:#b0a8ad;
--personal-color:#ffffff;
--personal-border:#f9f9f9;
--button-color:#18BBC5;
--button-color-med:#16AFB8;
--button-color-dark:#15A3AC;
--button-color-darker:#13979F;
--elements-opacity:0.91;
--footer-color:255,255,255;
}


/* OOUI */
.oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle {
	background-color:var(--content-bg);
	color:var(--content-color);
	border-color:var(--content-border);
}


* {
	outline:0px;
}

/* Body */
body {
   background: var(--background-color) var(--background-image) center top fixed;
    background-size:var(--background-size);
}


div#globalWrapper {
	background-image:none;
}


/*Cactions*/
body #p-cactions {
	top:70px;
  border-top:none!important;
}

/* Διαφάνεια στο Footer */
div#footer {
margin-top: 55px;
background-color:rgba(var(--footer-color),var(--elements-opacity));
}

.generated-sidebar .pBody, #p-wikicities-nav .pBody, #p-search .pBody, #p-tb .pBody, #p-lang .pBody{
	border-left:0;
	border-top:3px dashed var(--content-border);
	border-bottom:0;
	border-right:0;
  background-color: transparent;
  color:var(--link-color);
  background-color:var(--content-bg);
  transition:opacity 0.1s, background-color 0.1s, border 0.1s, color 0.1s;
}

.generated-sidebar .pBody:hover, #p-wikicities-nav .pBody:hover, #p-search .pBody:hover, #p-tb .pBody:hover, #p-lang .pBody:hover {
	border-top:3px dashed var(--content-color) !important;
	opacity:var(--elements-opacity);
}

/* Tools Body 
#p-tb .pBody {
	border-left:0;
	border-top:4px double #aaa;
	border-bottom:4px double #aaa;
	border-right:2px double #aaa;
  color:var(--link-color);
  background-color:var(--personal-border);
  border-radius:0 3px 3px 0;
}

#p-tb .pBody:hover {
	border-left:0;
	border-top:2px double var(--personal-border);
	border-bottom:2px double var(--personal-border);
	border-right:4px double var(--personal-border);
  color:var(--link-color);
  background-color:#aaa;
  transition-duration:1s;
  border-radius:0 3px 3px 0;
}



/* Languages Body 
#p-lang .pBody {
	border-left: 1px dashed #aaa;
	border-top:2px dashed #aaa;
	border-bottom:2px dashed #aaa;
	border-right:2px dashed #aaa;
  color:var(--link-color);
  background-color:var(--personal-border);
}

#p-lang .pBody:hover {
	border-left: 1px ridge var(--personal-border);
	border-top:2px ridge var(--personal-border);
	border-bottom:2px ridge var(--personal-border);
	border-right:2px ridge var(--personal-border);
  color:var(--link-color);
  background-color:#aaa;
  transition-duration:1.01s;
}


/* Personal Tools */
body #p-personal {
	z-index: 2;
	margin-top:9px;
}
body #p-personal .pBody {
	background-color:transparent;
	border: 1px solid var(--personal-border);
	right: 0;
  z-index: 100;
  position:fixed;
  padding:2px 0;
}

body #p-personal .pBody::before {
	background-color:var(--personal-color);
	content:"";
	top:0;
	right:0;
	display:block;
	width:100%;
	height:100%;
    transition:0.1s;
    positioN:absolute;
    z-index:-1;
    	
}

body #p-personal .pBody:hover::before {
 opacity:var(--elements-opacity);
 }

#pt-logout a:hover  {
font-weight:bold;
transition:0.05s;
}


body #p-personal li a {
	font-size: 14px;
	margin:0 2.5px;
	text-transform: capitalize;
   transition:color 0.05s, background-color 0.05s;
   vertical-align:middle;
   padding-top:4px;
   padding-bottom:4px;
   color:var(--content-border);
   text-shadow: 0 0 1px var(--personal-border), 0 0 1.5px var(--personal-border), 0 0 2px var(--personal-border), 0 0 2.5px var(--personal-border);
}
body #p-personal li a:hover{
   text-decoration:none;
   color:var(--link-color);
   background-color:var(--content-bg);
   text-shadow:none;
}

body #p-personal li a:active {
	filter:none;
}

body #p-personal li a {
  display: inline-block;
  background-repeat: no-repeat !important;
  overflow: hidden;
}

body #p-personal li {
margin-left: 0;
}

#utcdate a {
	font-size: 15px;
}

li#pt-userpage, li#pt-anonuserpage {
	vertical-align:middle;
}

/* Cactions */
body div#content {
  color:var(--content-color);
  font-family:'Arial Nova', Arial;
	top:59px;
  border-color:var(--content-border);
  position:relative;
  background-color:transparent;
}

/* Fixes on the Rerelease */
body div#content::after {
	content:"";
	position:absolute;
	background-color:var(--content-bg) ;	
	display:block;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:-1;
	opacity:var(--elements-opacity);
}


body div#content img {
opacity:1!important;
}


body #p-cactions li a {
  padding:0 5px;
  border:none;
}

body #p-cactions li.selected a, body #p-cactions li.selected{
  background-color:var(--content-bg);
  color:var(--link-color);
  border:none;
  font-family:'Arial Nova', Arial;
  text-transform:uppercase!important;
}
body #p-cactions li.selected a, body #p-cactions li a.selected{
background-color:var(--content-bg);
font-family:'Arial Nova', Arial;
color:var(--link-color);
border:none;
font-weight:bold!important;
text-transform:uppercase!important;
}

body #p-cactions li a {
  background-color:var(--content-bg) ;
	color:var(--link-color);
  border:none;
  font-family:'Arial Nova', Arial;
  text-transform:uppercase!important;
  padding:5px;
   transition:color 0.1s, background-color 0.1s, text-shadow 0.1s;
}

body #p-cactions li a:hover, body #p-cactions li:hover {
  background-color:var(--content-bg) ;
	color:var(--content-color);
	text-shadow:.2px .22px .24px var(--link-color);
  text-decoration:none;
  border:none;
  font-family:'Arial Nova', Arial;
  text-transform:uppercase!important;

}

body #p-cactions li a:active {
	filter:none;
}


body #p-cactions li:first-child,
body #p-cactions li:first-child + li, /* :nth-child(2) equivalent for IE8 */
body #p-cactions #ca-contribs {
    float: left;
}
 
body #p-cactions li {
  background-color:var(--content-bg) ;
  color:var(--link-color);
  border:none;
  font-family:'Arial Nova', Arial;
  text-transform:uppercase!important;
  padding:0;
}

body #p-cactions li:first-child a,
body #p-cactions li:first-child + li a,
body #p-cactions #ca-contribs a {
    display: inline;
}
 

body #p-cactions ul {
        background-color:var(--content-bg) ;
        font-family:'Arial Nova', Arial;
        border:none;
        text-transform:uppercase!important
}

body #p-cactions {
	font-size:100%;
	width:100%;
	height:auto;
	left:0;
	padding:0;
  /*opacity:var(--elements-opacity);*/
  text-transform:uppercase!important;
}

body #p-cactions .pBody {
	margin-left: 12.225em;
	background:var(--content-bg);
	line-height:1.1em;
	height:1.9em;
	padding-top:1px;
	text-align:right;
}

/* Συνδέσεις (Links) */
body a, .mw-parser-output a.external {
	color:var(--link-color);
	-qq-invert-style:classic; /* Fix for mInerkIt mInerva */
}

body a:active, .mw-parser-output a.external:active {
	color:var(--link-color);
	filter:invert(1);
}


body a[class*="oo-ui"]:active, #p-logo a:active {
	filter:none;
}

body a:visited, .mw-parser-output a.external:visited {
	color:var(--content-border);
}



/* Headings */
#firstHeading {
font-size:221%;
font-family:'Arial Nova', Arial;
font-weight:bold;
margin-top:1px;
}

body h1, 
body h2, 
body h3, 
body h4, 
body h5, 
body h6 {
color:var(--content-color);
}

.skin-mpisto .mw-notification, .skin-monobook .mw-notification {
	background-color:var(--content-bg);
	color:var(--content-color);
}

/* Checkmarks */
/* Buttons */
/** Buttons **/

a.wikia-button:not([class*="oo-ui"]),
span.wikia-button a,
input[type="submit"]:not([class*="oo-ui"]),
input[type="reset"]:not([class*="oo-ui"]),
input[type="button"]:not([class*="oo-ui"]),
button:not([class*="oo-ui"]), .mpisto-btn {
	background-color: var(--button-color);
	background: linear-gradient(to bottom, var(--button-color) 35%, var(--button-color-med) 65%);
  border:none;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font: bold 12px/17px "Arial Nova", Arial;
	height: 20px;
	margin: 1px;
	padding: 0 8px;
	text-decoration: none;
	white-space: nowrap;
	border-radius:5px;
	opacity:1!important;
}


a.wikia-button.secondary,
span.wikia-button.secondary a,
input[type="submit"]:not([class*="oo-ui"]).secondary,
input[type="reset"]:not([class*="oo-ui"]).secondary,
input[type="button"]:not([class*="oo-ui"]).secondary,
button.secondary, .mpisto-btn-2nd {
	background-color: transparent;
	color: var(--button-color);
	border:1px solid var(--button-color);
	opacity:1!important;
}

/* Big Buttons*/
a.wikia-button.big,
span.wikia-button.big a,
input[type="submit"]:not([class*="oo-ui"]).big,
input[type="reset"]:not([class*="oo-ui"]).big,
input[type="button"]:not([class*="oo-ui"]).big,
button.big, .mpisto-btn.big {
	height: 32px;
	font-size: 15px;
	line-height: 30px;
	padding: 0 15px;
	border-radius:5px 5px 5px 5px;
	opacity:1!important;
}

/* Border-box model: Inputs and buttons count border as part of height. Increase height. */
input[type="submit"]:not([class*="oo-ui"]),
input[type="reset"]:not([class*="oo-ui"]),
input[type="button"]:not([class*="oo-ui"]),
button:not([class*="oo-ui"]), .mpisto-btn {
	height: 21px;
}
input[type="submit"]:not([class*="oo-ui"]).big,
input[type="reset"]:not([class*="oo-ui"]).big,
input[type="button"]:not([class*="oo-ui"]).big,
button.big, .mpisto-btn.big {
	height: 34px;
}

/* Fix Mozilla Button Sizing */
input[type="submit"]:not([class*="oo-ui"])::-moz-focus-inner,
input[type="reset"]:not([class*="oo-ui"])::-moz-focus-inner,
input[type="button"]:not([class*="oo-ui"])::-moz-focus-inner,
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/* Hover and Active states */
/* Disabled styling */
a.wikia-button[disabled]:not([class*="oo-ui"]),
span.wikia-button a[disabled],
input[type="submit"]:not([class*="oo-ui"])[disabled],
input[type="reset"]:not([class*="oo-ui"])[disabled],
input[type="button"]:not([class*="oo-ui"])[disabled],
button[disabled]:not([class*="oo-ui"]), .mpisto-btn-off, .mpisto-btn[disabled] {
	cursor: default;
	opacity: .55;
	background-color:#c4c4c4;
	color: #FFF;
	background: linear-gradient(to bottom, #c4c4c4 35%, #b8b8b8 65%);
	border-radius:5px 5px 5px 5px;
	pointer-events:none;
}
a.wikia-button[disabled]:not([class*="oo-ui"]):hover,
span.wikia-button a[disabled]:hover,
input[type="submit"]:not([class*="oo-ui"])[disabled]:hover,
input[type="reset"]:not([class*="oo-ui"])[disabled]:hover,
input[type="button"]:not([class*="oo-ui"])[disabled]:hover,
button[disabled]:not([class*="oo-ui"]):hover, .mpisto-btn-off:hover, .mpisto-btn[disabled]:hover {
  background-color:#aaa;
  background: linear-gradient(to bottom, #aaa 35%, #9e9e9e 65%);
}

a.wikia-button.secondary[disabled],
span.wikia-button.secondary a[disabled],
input.secondary[type="submit"][disabled],
input.secondary[type="reset"][disabled],
input.secondary[type="button"][disabled],
button.secondary[disabled], .mpisto-btn-2nd-off, .mpisto-btn-2nd[disabled] {
  color:#c4c4c4;
  border:1px solid #c4c4c4;
  opacity:.55;
}


a.wikia-button.secondary[disabled]:hover,
span.wikia-button.secondary a[disabled]:hover,
input.secondary[type="submit"][disabled]:hover,
input.secondary[type="reset"][disabled]:hover,
input.secondary[type="button"][disabled]:hover,
button.secondary[disabled]:hover, .mpisto-btn-2nd-off:hover, .mpisto-btn-2nd[disabled]:hover {
  color:#aaa;
  border:1px solid #aaa;
}
a.wikia-button[disabled]:active,
span.wikia-button a[disabled]:active,
input[type="submit"]:not([class*="oo-ui"])[disabled]:active,
input[type="reset"]:not([class*="oo-ui"])[disabled]:active,
input[type="button"]:not([class*="oo-ui"])[disabled]:active,
button[disabled]:active, .mpisto-btn-off:active, .mpisto-btn[disabled]:active {
  background-color:#9e9e9e;
  background: linear-gradient(to bottom, #9e9e9e 35%, #aaa 65%);
}
a.wikia-button.secondary[disabled]:active,
span.wikia-button.secondary a[disabled]:active,
input.secondary[type="submit"][disabled]:active,
input.secondary[type="reset"][disabled]:active,
input.secondary[type="button"][disabled]:active,
button.secondary[disabled]:active, .mpisto-btn-2nd-off:active, .mpisto-btn-2nd[disabled]:active {
  color:#9e9e9e;
	border:1px solid #9e9e9e;

}

a.wikia-button:not([class*="oo-ui"]):hover,
span.wikia-button a:hover,
input[type="submit"]:not([class*="oo-ui"]):hover,
input[type="reset"]:not([class*="oo-ui"]):hover,
input[type="button"]:not([class*="oo-ui"]):hover,
button:not([class*="oo-ui"]):hover, .mpisto-btn:hover {
	background-color:var(--button-color-dark);
	background: linear-gradient(to bottom, var(--button-color-dark) 35%, var(--button-color-darker) 65%);
	opacity:1!important;
}
a.wikia-button.secondary:hover,
span.wikia-button.secondary a:hover,
input[type="submit"]:not([class*="oo-ui"]).secondary:hover,
input[type="reset"]:not([class*="oo-ui"]).secondary:hover,
input[type="button"]:not([class*="oo-ui"]).secondary:hover,
button.secondary:hover, .mpisto-btn-2nd:hover {
	color:var(--button-color-dark);
	border:1px solid var(--button-color-dark);
	opacity:1!important;
}

a.wikia-button:not([class*="oo-ui"]):active,
span.wikia-button a:active,
input[type="submit"]:not([class*="oo-ui"]):active,
input[type="reset"]:not([class*="oo-ui"]):active,
input[type="button"]:not([class*="oo-ui"]):active,
button:not([class*="oo-ui"]):active, .mpisto-btn:active {
	background-color:var(--button-color-darker);
	background: linear-gradient(to bottom, var(--button-color-darker) 35%, var(--button-color-dark) 65%);
	opacity:1!important;
}
a.wikia-button.secondary:active,
span.wikia-button.secondary a:active,
input[type="submit"]:not([class*="oo-ui"]).secondary:active,
input[type="reset"]:not([class*="oo-ui"]).secondary:active,
input[type="button"]:not([class*="oo-ui"]).secondary:active,
button.secondary:active, .mpisto-btn-2nd:active {
	color:var(--button-color-darker);
	border:1px solid var(--button-color-darker);
 	opacity:1!important;
}

/* Dynamic Navbar Styles */
.collapsible_pile #p-navigation {
	margin-top:18px !important;
	margin-bottom: 0 !important;
}
.collapsible_pile #p-navigation h3 {
	display: none !important;
}
.collapsible_pile .visible h3, 
.collapsible_pile .hidden h3 {
	background-position: center top;
	margin: 0;
	padding: 8px 0 5px 24px;
	cursor: pointer;
}
.collapsible_pile .visible .pBody,
.collapsible_pile .hidden .pBody {
	padding: 0 0 0 26px;
	margin: 0;
}
.collapsible_pile .hidden h3 {
	color: #123456;
}
.collapsible_pile .hidden h3:hover {
	color:#654321;
}
/** arrows **/
.collapsible_pile .visible {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAFCAYAAACTphZWAAAAAXNSR0IArs4c6QAAAAlwSFlzAAAO6wAADpwBEbNupAAAAAd0SU1FB9sGDg0pGmpOMR0AAAAdaVRYdENvbW1lbnQAAAAAAENyZWF0ZWQgd2l0aCBHSU1QZC5lBwAAAE9JREFUCNd9yzENgDAARNFH6gIBGGCuAwx161ZDSOiKAQzUBhMkTVpuvLy/pJR2ZBzmO5FDrbXFGG+s2GawlHIF+Ak+COF9B0EHOzwIOggPO/8lOmDjOrAAAAAASUVORK5CYII=) no-repeat 14px 13px;
}
.collapsible_pile .hidden {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAAlwSFlzAAAOnAAADusBZ+q87AAAAAd0SU1FB9sGDg4fNUrFI2gAAAAdaVRYdENvbW1lbnQAAAAAAENyZWF0ZWQgd2l0aCBHSU1QZC5lBwAAAFRJREFUGNNjYEAClZWVxgx4ABMavwGfBnTFPvg0MGERw6mBCYeNWDWw4PGPD5T2JWQyAwMDwxYGBoYGYpyxhYGBoaG9vf0sIcVYFWJTjFMhBiAUgwB5exk8MN/AIQAAAABJRU5ErkJggg==) no-repeat 14px 10px; 
}
/* */
#p-logo, .mpisto-logo {
opacity:0.55;
transition:opacity 0.33s;
}

#p-logo:hover, .mpisto-logo:hover {
opacity:1;
transition:opacity 0.55s;
}

/* Other Design System */

/* Rounder */

/* Normal */

.mpisto-rounder {
border-radius:100%;
}

/* Plus */

.mpisto-rounder-plus {
border-radius:150%;
}

/* Desktop XL */

.mpisto-rounder-xl {
border-radius:200%;
}

/* Standard */

.mpisto-rounder-stand {
border-radius:75%;
}

/* Small */

.mpisto-rounder-small {
border-radius:66%;
}


/* Module Styles */
.mpisto-module {
border:1px solid var(--personal-border);
background-color:var(--personal-color);
opacity:0.99!important; /* Should not accuire Elements opacity in this */
}

body .mpisto-module h1 {
size:107%;
font-weight:bold;
float:left!important;
line-height:27px;
color:var(--personal-border);

}

body .mpisto-module h2 {
size:98%;
font-weight:bold;
float:left!important;
color:var(--personal-border);
margin-top:0.5px;
line-height:27px;
}

/* Preventing rounding the mpisto modules */
.mpisto-module .mpisto-rounder, .mpisto-rounder .mpisto-module {
border-radius:0px!important;
}

/* Buttons II */
.mpisto-buttons2 {
  color:white;
  background-color:var(--button-color);
  border:1px solid var(--button-color);
  transition:500ms;
  text-transform:uppercase;
  font-weight:bold;
	cursor: pointer;
	display: inline-block;
  padding: 8px 4px 8px;
}

.mpisto-buttons2:hover {
  color:white;
  background-color:var(--button-color-dark);
  border:1px solid var(--button-color-dark);
  transition:500ms;
  text-transform:uppercase;
  font-weight:bold;
	cursor: pointer;
	display: inline-block;
  padding:8px 4px 8px;
}

.mpisto-buttons2.squashed {
  color:white;
  background-color:var(--button-color);
  border:1px solid var(--button-color);
  transition:500ms;
  text-transform:uppercase;
  font-weight:bold;
	cursor: pointer;
	display: inline-block;
  padding: 5px 4px 5px;
}

.mpisto-buttons2.squashed:hover {
  color:white;
  background-color:var(--button-color-dark);
  border:1px solid var(--button-color-dark);
  transition:500ms;
  text-transform:uppercase;
  font-weight:bold;
	cursor: pointer;
	display: inline-block;
  padding:5px 4px 5px;
}

.mpisto-buttons2-2nd {
  color:var(--button-color);
  background-color:none;
  border:1px solid var(--button-color);
  transition:500ms;
  text-transform:uppercase;
  font-weight:bold;
	cursor: pointer;
	display: inline-block;
  padding: 8px 4px 8px;
}

.mpisto-buttons2-2nd:hover {
  color:var(--button-color-dark);
  background-color:none;
  border:1px solid var(--button-color-dark);
  transition:500ms;
  text-transform:uppercase;
  font-weight:bold;
	cursor: pointer;
	display: inline-block;
  padding: 8px 4px 8px;
}

.mpisto-buttons2-2nd.squashed {
  color:var(--button-color);
  background-color:none;
  border:1px solid var(--button-color);
  transition:500ms;
  text-transform:uppercase;
  font-weight:bold;
	cursor: pointer;
	display: inline-block;
  padding: 5px 4px 5px;
}

.mpisto-buttons2-2nd.squashed:hover {
  color:var(--button-color-dark);
  background-color:none;
  border:1px solid var(--button-color-dark);
  transition:500ms;
  text-transform:uppercase;
  font-weight:bold;
	cursor: pointer;
	display: inline-block;
  padding: 5px 4px 5px;
}

/** Grouping of them **/
/* Button Group */
.mpisto-button-group > .mpisto-buttons2:not(:first-child):not(:last-child) {
    border-radius: 0!important;
    border-left-color: var(--content-bg);
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: var(--content-bg);
    border-right-width: 1px;
    border-right-style: solid;
}

.mpisto-button-group > .mpisto-buttons2:first-child:not(:last-child) {
    border-right-color: var(--content-bg);
    border-right-width: 1px;
    border-right-style: solid;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.mpisto-button-group > .mpisto-buttons2:last-child:not(:first-child) {
    border-left-color: var(--content-bg);
    border-left-width: 1px;
    border-left-style: solid;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.mpisto-button-group > .mpisto-dropdown:last-child:not(:first-child) .mpisto-buttons2 {
    border-left-color: var(--content-bg);
    border-left-width: 1px;
    border-left-style: solid;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.mpisto-button-group > .mpisto-dropdown:first-child:not(:last-child) .mpisto-buttons2 {
    border-right-color: var(--content-bg);
    border-right-width: 1px;
    border-right-style: solid;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.mpisto-button-group > .mpisto-dropdown:not(:first-child):not(:last-child) .mpisto-buttons2 {
    border-radius: 0!important;
    border-left-color: var(--content-bg);
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: var(--content-bg);
    border-right-width: 1px;
    border-right-style: solid;
}

.mpisto-button-group {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: inline-block;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.mpisto-button-group > .mpisto-buttons2 {
    height: auto;
    margin-left: auto;
    margin-right: -1px;
    padding-left: 5px;
    padding-right: 5px;
}

.mpisto-button-group > .mpisto-buttons2:hover {
    z-index: 1;
}


/* Dropdowns */
.mpisto-dropdown {
    position: relative;
    display: inline-block;
    overflow:visible
}


.mpisto-dropdown-data {
    opacity:0;
    visibility:hidden;
    transition:100ms;
    position: absolute;
    background-color: var(--content-bg);
    white-space:nowrap;
    max-width:600px;
    color:var(--content-color);
    z-index: 1;
    padding:12px 16px;
    box-shadow:0 0 15px -3px var(--content-border);
}

.mpisto-dropdown-data a {
    color:inherit;
    padding: 8px 6px!important;
    text-decoration: none;
    display: block;
    transition:100ms;
    text-align:left!important;
}

.mpisto-dropdown-data a:hover {color:var(--link-color);}

.mpisto-dropdown:hover .mpisto-dropdown-data {
    opacity:1;
    visibility:visible;
}


/* Checkboxes */
/* Commented Styles = Old Design */
input[type="checkbox"], input[type="radio"] {
box-shadow:0 0 1px 1px var(--content-color);
  padding:1px;
  color:var(--link-color);
  border-radius:25%;
  position:relative;
  transition:background-color 50ms, box-shadow 50ms, color 50ms, opacity 50ms;
  height:1.5em;
  width:1.5em;
  display:inline-block;
  vertical-align:middle;
  -moz-appearance:none;
  -webkit-appearance:none;
  border:0;
}

input[type="checkbox"][disabled], input[type="radio"][disabled] {
	filter:grayscale(100%);
}

.wds-dropdown__content .wds-list input[type="checkbox"], .wds-dropdown__content .wds-list input[type="radio"] {
	width:15px;
	height:15px;
}


@supports (-webkit-box-shadow:0 0 10px) and (not (-moz-appearance:none)) {
input[type="checkbox"], input[type="radio"] {
  margin:4px;
}
}

input[type="checkbox"]::after, input[type="radio"]::after {
display:block!important;
content:"";
position:absolute;
opacity:0;
top:0;
left:0;
width:100%;
height:100%;
transition:inherit;
box-sizing:content-box;
}

input[type="checkbox"]::after {
    border:2.15px solid currentcolor;
    border-style:hidden solid solid hidden;
    transform:rotate(45deg);
    width:30%;
    height:62%;
    top:5%;
    left:30%;
}

/* These styles are not used in IE and Edge since we use the ms-check to display the square. This applies to other engines only to show a minus sign */
input[type="checkbox"]:indeterminate::after {
    opacity:1;
}

input[type="checkbox"]:indeterminate::after, input[type="checkbox"][indeterminate]:not(:checked)::after {
    border-style:hidden solid hidden hidden;
    transform:rotate(90deg);
    left:35%;
}



input[type="radio"]::after {
  background-color:currentcolor;
  border-radius:50%;
  width:55%;
  height:55%;
  top:22.5%;
  left:22.5%;
}



input[type="checkbox"]:hover::after, input[type="radio"]:hover::after {
  opacity:0.5;
}

input[type="checkbox"]:active::after, input[type="radio"]:active::after, input[type="checkbox"]:checked::after, input[type="radio"]:checked::after {
  opacity:1;
}

input[type="radio"] {
  border-radius:50%;
}

input[type="checkbox"]:hover, input[type="radio"]:hover {
/*box-shadow:0 0 1px 1px #18bbc5;
box-shadow:0 0 1px 1px rgb(var(--link-color));
*/
}


input[type="checkbox"]:active, input[type="radio"]:active {
/*
box-shadow:0 0 1px 1px #000;
box-shadow:0 0 1px 1px var(--content-color);
*/
  box-shadow:0 0 1px 1px var(--content-border);
  background-color:var(--content-border);
  color:var(--content-color);
}

input[type="checkbox"]:checked, input[type="radio"]:checked,
input[type="checkbox"]:indeterminate {
/*
  background-color:#000;
  background-color:var(--content-color);
*/
  box-shadow:0 0 1px 1px var(--button-color);
  color:white;
  background-color:var(--button-color);
}



input[type="checkbox"]:checked:hover, input[type="radio"]:checked:hover,
input[type="checkbox"]:indeterminate:hover {
/*
  background-color:#fff;
  background-color:var(--content-bg);
*/
  box-shadow:0 0 1px 1px var(--button-color-dark);
  background-color:var(--button-color-dark);

}


input[type="checkbox"]:checked:active, input[type="radio"]:checked:active,
input[type="checkbox"]:indeterminate:active {
/*box-shadow:0 0 1px 1px white;
box-shadow:0 0 1px 1px var(--button-color-text);
  color:#18bbc5;
  color:var(--button-color);
*/
  box-shadow:0 0 1px 1px var(--content-border);
  background-color:var(--content-border);
  color:var(--button-color-dark);
}

input[type="checkbox"]::-ms-check {
border-radius:inherit;
}

input[type="checkbox"]::-ms-check, input[type="radio"]::-ms-check {
  background-color:transparent;
  border-width:0;
  color:inherit;
}

/* Pref tocs */
.mw-prefs-buttons {
	color:var(--content-color);
	background-color:var(--content-bg);
}


/* Portrait Mode */

@media only screen and (min-width: 1px) and (max-width: 1023px) {
/* Shirning the first heading area */
body div#content #firstHeading {
font-size:187%;
}

/* Dispaly the personal tools differently */
body #p-personal li {
float: none !important;
}

body #p-cactions h5 span {
	display: inline-block;
	width: 0;
	overflow: hidden;
}


/* Change caction to icons 
#ca-talk a {
	display: inline-block;
	background-image: url(talk.svg);
	fill:var(link-color);
	background-position: center center;
	background-repeat: no-repeat;
	padding-left: 2.5em;
	padding-right: 0;
	width: 0!important;
	text-overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
}
#ca-talk :after {
display:none
}

#ca-talk.selected a svg {
	fill:var(content-color);
}

#ca-talk a svg:hover {
	fill:var(content-color);
}

#ca-talk.selected a svg{
	fill:var(link-color);
}

#ca-edit a {
	display: inline-block;
	background-image: url(edit.svg);
	fill:var(link-color);
	background-position: center center;
	background-repeat: no-repeat;
	padding-left: 2.5em;
	padding-right: 0;
	width: 0!important;
	text-overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
}

#ca-edit:after {
display:none
}


#ca-edit.selected a svg {
	fill:var(content-color);
}

#ca-edit a svg:hover {
	fill:var(content-color);
}

#ca-edit.selected a svg{
	fill:var(link-color);
}
*/
}


/* Tablet Mode */
@media only screen and (min-width: 1024px) and (max-width: 1083px) {
/* Keno Erchio */
}

/* Small Breakpoint */
@media only screen and (min-width: 1px) and (max-width: 1083px) {
/* Hiding Background from non-desktop mode */
body {
background-image:none!important;
}


/* Shirking the Cactions area */
body #p-cactions, body #p-cactions li, body #p-cactions ul, #p-cactiosn li a:hover, body #p-cactions li a.selected {
	font-size:93%;
	margin-top:2.5px
}

body #p-cactions .pBody {
	height:1.8em;
}

/* Small Logo */
#p-logo, #p-logo a , #p-logo:hover, #p-logo a:hover{
background-size:85%;
width:132px;
height:132px;
top:0;
left:0;
}

/* Shift the area */
body div#content{
margin-left: 10.9em;
}

body #p-cactions {
margin-left:-0.5em;
}

body #p-cactions .pBody {
	margin-right:-0.5em;
}

.portlet, .languages {
size:85%;
width: 10.9em;
}
}
/* Desktop XL breakpoint */
@media only screen and (min-width: 1596px){
body {
font-size:14px;
}
body #p-cactions {
	margin-top:0.25em;
	font-size:100%;
}


body #p-cactions li, body #p-cactions ul, body #p-cactions li a.selected {
  font-size:90%;
}

/* Fixing button Size to be likewise big */
a.wikia-button:not([class*="oo-ui"]),
span.wikia-button a,
input[type="submit"]:not([class*="oo-ui"]),
input[type="reset"]:not([class*="oo-ui"]),
input[type="button"]:not([class*="oo-ui"]),
button:not([class*="oo-ui"]) {
	font: bold 18px/22px "Arial Nova", Arial;
	height: 22px;
	margin: 2px;
	padding: 0 12px;
}



/* Big Buttons*/
a.wikia-button.big,
span.wikia-button.big a,
input[type="submit"]:not([class*="oo-ui"]).big,
input[type="reset"]:not([class*="oo-ui"]).big,
input[type="button"]:not([class*="oo-ui"]).big,
button.big {
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	padding: 0 20px;
}

/* Border-box model: Inputs and buttons count border as part of height. Increase height. */
input[type="submit"]:not([class*="oo-ui"]),
input[type="reset"]:not([class*="oo-ui"]),
input[type="button"]:not([class*="oo-ui"]),
button:not([class*="oo-ui"]) {
	height: 28px;
}
input[type="submit"]:not([class*="oo-ui"]).big,
input[type="reset"]:not([class*="oo-ui"]).big,
input[type="button"]:not([class*="oo-ui"]).big,
button.big {
	height: 46px;
}
}
